<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/history.css" rel="stylesheet"/>
    <title>Donation List</title>
</head>
<body>
    <div class="content">
        <div class="card">
          <div class="firstinfo">
              <!-- <img src="images/sperm.png" style="transform: rotate(10deg);"/> -->
            <div class="profileinfo">
              <h1 class='txHash'></h1>
            </div>
          </div>
        </div>
        <!-- <div class="badgescard"> <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span></div> -->
      </div>
</body>

<!--jqeury-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- source file -->
<script type="text/javascript" src="js/history.js"></script>
</html>